.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.2em;
  height: 0.2em;
}
.container:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  transform: translate(-50%, -50%);
  background-color: #f46e6e;
  border-radius: 50%;
  content: "";
}
.item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: visible;
  background-color: #f46e6e;
}
.item:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: 50%;
  transform: rotateY(-90deg) translateZ(0.5em);
  content: "";
  backface-visibility: visible;
}
.item:nth-child(1) {
  transform: rotateY(90deg) rotateX(6deg) translateZ(1em);
  animation: itemOffset1 1s ease-in-out infinite reverse;
  animation-delay: 0.1s;
}
@keyframes itemOffset1 {
  50% {
    transform: rotateY(90deg) rotateX(6deg) translateZ(6em);
    background-color: #bf4d40;
  }
}
.item:nth-child(2) {
  transform: rotateY(90deg) rotateX(12deg) translateZ(1em);
  animation: itemOffset2 1s ease-in-out infinite reverse;
  animation-delay: 0.2s;
}
@keyframes itemOffset2 {
  50% {
    transform: rotateY(90deg) rotateX(12deg) translateZ(6em);
    background-color: #bf5940;
  }
}
.item:nth-child(3) {
  transform: rotateY(90deg) rotateX(18deg) translateZ(1em);
  animation: itemOffset3 1s ease-in-out infinite reverse;
  animation-delay: 0.3s;
}
@keyframes itemOffset3 {
  50% {
    transform: rotateY(90deg) rotateX(18deg) translateZ(6em);
    background-color: #bf6640;
  }
}
.item:nth-child(4) {
  transform: rotateY(90deg) rotateX(24deg) translateZ(1em);
  animation: itemOffset4 1s ease-in-out infinite reverse;
  animation-delay: 0.4s;
}
@keyframes itemOffset4 {
  50% {
    transform: rotateY(90deg) rotateX(24deg) translateZ(6em);
    background-color: #bf7340;
  }
}
.item:nth-child(5) {
  transform: rotateY(90deg) rotateX(30deg) translateZ(1em);
  animation: itemOffset5 1s ease-in-out infinite reverse;
  animation-delay: 0.5s;
}
@keyframes itemOffset5 {
  50% {
    transform: rotateY(90deg) rotateX(30deg) translateZ(6em);
    background-color: #bf8040;
  }
}
.item:nth-child(6) {
  transform: rotateY(90deg) rotateX(36deg) translateZ(1em);
  animation: itemOffset6 1s ease-in-out infinite reverse;
  animation-delay: 0.6s;
}
@keyframes itemOffset6 {
  50% {
    transform: rotateY(90deg) rotateX(36deg) translateZ(6em);
    background-color: #bf8c40;
  }
}
.item:nth-child(7) {
  transform: rotateY(90deg) rotateX(42deg) translateZ(1em);
  animation: itemOffset7 1s ease-in-out infinite reverse;
  animation-delay: 0.7s;
}
@keyframes itemOffset7 {
  50% {
    transform: rotateY(90deg) rotateX(42deg) translateZ(6em);
    background-color: #bf9940;
  }
}
.item:nth-child(8) {
  transform: rotateY(90deg) rotateX(48deg) translateZ(1em);
  animation: itemOffset8 1s ease-in-out infinite reverse;
  animation-delay: 0.8s;
}
@keyframes itemOffset8 {
  50% {
    transform: rotateY(90deg) rotateX(48deg) translateZ(6em);
    background-color: #bfa640;
  }
}
.item:nth-child(9) {
  transform: rotateY(90deg) rotateX(54deg) translateZ(1em);
  animation: itemOffset9 1s ease-in-out infinite reverse;
  animation-delay: 0.9s;
}
@keyframes itemOffset9 {
  50% {
    transform: rotateY(90deg) rotateX(54deg) translateZ(6em);
    background-color: #bfb340;
  }
}
.item:nth-child(10) {
  transform: rotateY(90deg) rotateX(60deg) translateZ(1em);
  animation: itemOffset10 1s ease-in-out infinite reverse;
  animation-delay: 1s;
}
@keyframes itemOffset10 {
  50% {
    transform: rotateY(90deg) rotateX(60deg) translateZ(6em);
    background-color: #bfbf40;
  }
}
.item:nth-child(11) {
  transform: rotateY(90deg) rotateX(66deg) translateZ(1em);
  animation: itemOffset11 1s ease-in-out infinite reverse;
  animation-delay: 1.1s;
}
@keyframes itemOffset11 {
  50% {
    transform: rotateY(90deg) rotateX(66deg) translateZ(6em);
    background-color: #b3bf40;
  }
}
.item:nth-child(12) {
  transform: rotateY(90deg) rotateX(72deg) translateZ(1em);
  animation: itemOffset12 1s ease-in-out infinite reverse;
  animation-delay: 1.2s;
}
@keyframes itemOffset12 {
  50% {
    transform: rotateY(90deg) rotateX(72deg) translateZ(6em);
    background-color: #a6bf40;
  }
}
.item:nth-child(13) {
  transform: rotateY(90deg) rotateX(78deg) translateZ(1em);
  animation: itemOffset13 1s ease-in-out infinite reverse;
  animation-delay: 1.3s;
}
@keyframes itemOffset13 {
  50% {
    transform: rotateY(90deg) rotateX(78deg) translateZ(6em);
    background-color: #99bf40;
  }
}
.item:nth-child(14) {
  transform: rotateY(90deg) rotateX(84deg) translateZ(1em);
  animation: itemOffset14 1s ease-in-out infinite reverse;
  animation-delay: 1.4s;
}
@keyframes itemOffset14 {
  50% {
    transform: rotateY(90deg) rotateX(84deg) translateZ(6em);
    background-color: #8cbf40;
  }
}
.item:nth-child(15) {
  transform: rotateY(90deg) rotateX(90deg) translateZ(1em);
  animation: itemOffset15 1s ease-in-out infinite reverse;
  animation-delay: 1.5s;
}
@keyframes itemOffset15 {
  50% {
    transform: rotateY(90deg) rotateX(90deg) translateZ(6em);
    background-color: #80bf40;
  }
}
.item:nth-child(16) {
  transform: rotateY(90deg) rotateX(96deg) translateZ(1em);
  animation: itemOffset16 1s ease-in-out infinite reverse;
  animation-delay: 1.6s;
}
@keyframes itemOffset16 {
  50% {
    transform: rotateY(90deg) rotateX(96deg) translateZ(6em);
    background-color: #73bf40;
  }
}
.item:nth-child(17) {
  transform: rotateY(90deg) rotateX(102deg) translateZ(1em);
  animation: itemOffset17 1s ease-in-out infinite reverse;
  animation-delay: 1.7s;
}
@keyframes itemOffset17 {
  50% {
    transform: rotateY(90deg) rotateX(102deg) translateZ(6em);
    background-color: #66bf40;
  }
}
.item:nth-child(18) {
  transform: rotateY(90deg) rotateX(108deg) translateZ(1em);
  animation: itemOffset18 1s ease-in-out infinite reverse;
  animation-delay: 1.8s;
}
@keyframes itemOffset18 {
  50% {
    transform: rotateY(90deg) rotateX(108deg) translateZ(6em);
    background-color: #59bf40;
  }
}
.item:nth-child(19) {
  transform: rotateY(90deg) rotateX(114deg) translateZ(1em);
  animation: itemOffset19 1s ease-in-out infinite reverse;
  animation-delay: 1.9s;
}
@keyframes itemOffset19 {
  50% {
    transform: rotateY(90deg) rotateX(114deg) translateZ(6em);
    background-color: #4dbf40;
  }
}
.item:nth-child(20) {
  transform: rotateY(90deg) rotateX(120deg) translateZ(1em);
  animation: itemOffset20 1s ease-in-out infinite reverse;
  animation-delay: 2s;
}
@keyframes itemOffset20 {
  50% {
    transform: rotateY(90deg) rotateX(120deg) translateZ(6em);
    background-color: #40bf40;
  }
}
.item:nth-child(21) {
  transform: rotateY(90deg) rotateX(126deg) translateZ(1em);
  animation: itemOffset21 1s ease-in-out infinite reverse;
  animation-delay: 2.1s;
}
@keyframes itemOffset21 {
  50% {
    transform: rotateY(90deg) rotateX(126deg) translateZ(6em);
    background-color: #40bf4d;
  }
}
.item:nth-child(22) {
  transform: rotateY(90deg) rotateX(132deg) translateZ(1em);
  animation: itemOffset22 1s ease-in-out infinite reverse;
  animation-delay: 2.2s;
}
@keyframes itemOffset22 {
  50% {
    transform: rotateY(90deg) rotateX(132deg) translateZ(6em);
    background-color: #40bf59;
  }
}
.item:nth-child(23) {
  transform: rotateY(90deg) rotateX(138deg) translateZ(1em);
  animation: itemOffset23 1s ease-in-out infinite reverse;
  animation-delay: 2.3s;
}
@keyframes itemOffset23 {
  50% {
    transform: rotateY(90deg) rotateX(138deg) translateZ(6em);
    background-color: #40bf66;
  }
}
.item:nth-child(24) {
  transform: rotateY(90deg) rotateX(144deg) translateZ(1em);
  animation: itemOffset24 1s ease-in-out infinite reverse;
  animation-delay: 2.4s;
}
@keyframes itemOffset24 {
  50% {
    transform: rotateY(90deg) rotateX(144deg) translateZ(6em);
    background-color: #40bf73;
  }
}
.item:nth-child(25) {
  transform: rotateY(90deg) rotateX(150deg) translateZ(1em);
  animation: itemOffset25 1s ease-in-out infinite reverse;
  animation-delay: 2.5s;
}
@keyframes itemOffset25 {
  50% {
    transform: rotateY(90deg) rotateX(150deg) translateZ(6em);
    background-color: #40bf80;
  }
}
.item:nth-child(26) {
  transform: rotateY(90deg) rotateX(156deg) translateZ(1em);
  animation: itemOffset26 1s ease-in-out infinite reverse;
  animation-delay: 2.6s;
}
@keyframes itemOffset26 {
  50% {
    transform: rotateY(90deg) rotateX(156deg) translateZ(6em);
    background-color: #40bf8c;
  }
}
.item:nth-child(27) {
  transform: rotateY(90deg) rotateX(162deg) translateZ(1em);
  animation: itemOffset27 1s ease-in-out infinite reverse;
  animation-delay: 2.7s;
}
@keyframes itemOffset27 {
  50% {
    transform: rotateY(90deg) rotateX(162deg) translateZ(6em);
    background-color: #40bf99;
  }
}
.item:nth-child(28) {
  transform: rotateY(90deg) rotateX(168deg) translateZ(1em);
  animation: itemOffset28 1s ease-in-out infinite reverse;
  animation-delay: 2.8s;
}
@keyframes itemOffset28 {
  50% {
    transform: rotateY(90deg) rotateX(168deg) translateZ(6em);
    background-color: #40bfa6;
  }
}
.item:nth-child(29) {
  transform: rotateY(90deg) rotateX(174deg) translateZ(1em);
  animation: itemOffset29 1s ease-in-out infinite reverse;
  animation-delay: 2.9s;
}
@keyframes itemOffset29 {
  50% {
    transform: rotateY(90deg) rotateX(174deg) translateZ(6em);
    background-color: #40bfb3;
  }
}
.item:nth-child(30) {
  transform: rotateY(90deg) rotateX(180deg) translateZ(1em);
  animation: itemOffset30 1s ease-in-out infinite reverse;
  animation-delay: 3s;
}
@keyframes itemOffset30 {
  50% {
    transform: rotateY(90deg) rotateX(180deg) translateZ(6em);
    background-color: #40bfbf;
  }
}
.item:nth-child(31) {
  transform: rotateY(90deg) rotateX(186deg) translateZ(1em);
  animation: itemOffset31 1s ease-in-out infinite reverse;
  animation-delay: 3.1s;
}
@keyframes itemOffset31 {
  50% {
    transform: rotateY(90deg) rotateX(186deg) translateZ(6em);
    background-color: #40b3bf;
  }
}
.item:nth-child(32) {
  transform: rotateY(90deg) rotateX(192deg) translateZ(1em);
  animation: itemOffset32 1s ease-in-out infinite reverse;
  animation-delay: 3.2s;
}
@keyframes itemOffset32 {
  50% {
    transform: rotateY(90deg) rotateX(192deg) translateZ(6em);
    background-color: #40a6bf;
  }
}
.item:nth-child(33) {
  transform: rotateY(90deg) rotateX(198deg) translateZ(1em);
  animation: itemOffset33 1s ease-in-out infinite reverse;
  animation-delay: 3.3s;
}
@keyframes itemOffset33 {
  50% {
    transform: rotateY(90deg) rotateX(198deg) translateZ(6em);
    background-color: #4099bf;
  }
}
.item:nth-child(34) {
  transform: rotateY(90deg) rotateX(204deg) translateZ(1em);
  animation: itemOffset34 1s ease-in-out infinite reverse;
  animation-delay: 3.4s;
}
@keyframes itemOffset34 {
  50% {
    transform: rotateY(90deg) rotateX(204deg) translateZ(6em);
    background-color: #408cbf;
  }
}
.item:nth-child(35) {
  transform: rotateY(90deg) rotateX(210deg) translateZ(1em);
  animation: itemOffset35 1s ease-in-out infinite reverse;
  animation-delay: 3.5s;
}
@keyframes itemOffset35 {
  50% {
    transform: rotateY(90deg) rotateX(210deg) translateZ(6em);
    background-color: #4080bf;
  }
}
.item:nth-child(36) {
  transform: rotateY(90deg) rotateX(216deg) translateZ(1em);
  animation: itemOffset36 1s ease-in-out infinite reverse;
  animation-delay: 3.6s;
}
@keyframes itemOffset36 {
  50% {
    transform: rotateY(90deg) rotateX(216deg) translateZ(6em);
    background-color: #4073bf;
  }
}
.item:nth-child(37) {
  transform: rotateY(90deg) rotateX(222deg) translateZ(1em);
  animation: itemOffset37 1s ease-in-out infinite reverse;
  animation-delay: 3.7s;
}
@keyframes itemOffset37 {
  50% {
    transform: rotateY(90deg) rotateX(222deg) translateZ(6em);
    background-color: #4066bf;
  }
}
.item:nth-child(38) {
  transform: rotateY(90deg) rotateX(228deg) translateZ(1em);
  animation: itemOffset38 1s ease-in-out infinite reverse;
  animation-delay: 3.8s;
}
@keyframes itemOffset38 {
  50% {
    transform: rotateY(90deg) rotateX(228deg) translateZ(6em);
    background-color: #4059bf;
  }
}
.item:nth-child(39) {
  transform: rotateY(90deg) rotateX(234deg) translateZ(1em);
  animation: itemOffset39 1s ease-in-out infinite reverse;
  animation-delay: 3.9s;
}
@keyframes itemOffset39 {
  50% {
    transform: rotateY(90deg) rotateX(234deg) translateZ(6em);
    background-color: #404dbf;
  }
}
.item:nth-child(40) {
  transform: rotateY(90deg) rotateX(240deg) translateZ(1em);
  animation: itemOffset40 1s ease-in-out infinite reverse;
  animation-delay: 4s;
}
@keyframes itemOffset40 {
  50% {
    transform: rotateY(90deg) rotateX(240deg) translateZ(6em);
    background-color: #4040bf;
  }
}
.item:nth-child(41) {
  transform: rotateY(90deg) rotateX(246deg) translateZ(1em);
  animation: itemOffset41 1s ease-in-out infinite reverse;
  animation-delay: 4.1s;
}
@keyframes itemOffset41 {
  50% {
    transform: rotateY(90deg) rotateX(246deg) translateZ(6em);
    background-color: #4d40bf;
  }
}
.item:nth-child(42) {
  transform: rotateY(90deg) rotateX(252deg) translateZ(1em);
  animation: itemOffset42 1s ease-in-out infinite reverse;
  animation-delay: 4.2s;
}
@keyframes itemOffset42 {
  50% {
    transform: rotateY(90deg) rotateX(252deg) translateZ(6em);
    background-color: #5940bf;
  }
}
.item:nth-child(43) {
  transform: rotateY(90deg) rotateX(258deg) translateZ(1em);
  animation: itemOffset43 1s ease-in-out infinite reverse;
  animation-delay: 4.3s;
}
@keyframes itemOffset43 {
  50% {
    transform: rotateY(90deg) rotateX(258deg) translateZ(6em);
    background-color: #6640bf;
  }
}
.item:nth-child(44) {
  transform: rotateY(90deg) rotateX(264deg) translateZ(1em);
  animation: itemOffset44 1s ease-in-out infinite reverse;
  animation-delay: 4.4s;
}
@keyframes itemOffset44 {
  50% {
    transform: rotateY(90deg) rotateX(264deg) translateZ(6em);
    background-color: #7340bf;
  }
}
.item:nth-child(45) {
  transform: rotateY(90deg) rotateX(270deg) translateZ(1em);
  animation: itemOffset45 1s ease-in-out infinite reverse;
  animation-delay: 4.5s;
}
@keyframes itemOffset45 {
  50% {
    transform: rotateY(90deg) rotateX(270deg) translateZ(6em);
    background-color: #8040bf;
  }
}
.item:nth-child(46) {
  transform: rotateY(90deg) rotateX(276deg) translateZ(1em);
  animation: itemOffset46 1s ease-in-out infinite reverse;
  animation-delay: 4.6s;
}
@keyframes itemOffset46 {
  50% {
    transform: rotateY(90deg) rotateX(276deg) translateZ(6em);
    background-color: #8c40bf;
  }
}
.item:nth-child(47) {
  transform: rotateY(90deg) rotateX(282deg) translateZ(1em);
  animation: itemOffset47 1s ease-in-out infinite reverse;
  animation-delay: 4.7s;
}
@keyframes itemOffset47 {
  50% {
    transform: rotateY(90deg) rotateX(282deg) translateZ(6em);
    background-color: #9940bf;
  }
}
.item:nth-child(48) {
  transform: rotateY(90deg) rotateX(288deg) translateZ(1em);
  animation: itemOffset48 1s ease-in-out infinite reverse;
  animation-delay: 4.8s;
}
@keyframes itemOffset48 {
  50% {
    transform: rotateY(90deg) rotateX(288deg) translateZ(6em);
    background-color: #a640bf;
  }
}
.item:nth-child(49) {
  transform: rotateY(90deg) rotateX(294deg) translateZ(1em);
  animation: itemOffset49 1s ease-in-out infinite reverse;
  animation-delay: 4.9s;
}
@keyframes itemOffset49 {
  50% {
    transform: rotateY(90deg) rotateX(294deg) translateZ(6em);
    background-color: #b340bf;
  }
}
.item:nth-child(50) {
  transform: rotateY(90deg) rotateX(300deg) translateZ(1em);
  animation: itemOffset50 1s ease-in-out infinite reverse;
  animation-delay: 5s;
}
@keyframes itemOffset50 {
  50% {
    transform: rotateY(90deg) rotateX(300deg) translateZ(6em);
    background-color: #bf40bf;
  }
}
.item:nth-child(51) {
  transform: rotateY(90deg) rotateX(306deg) translateZ(1em);
  animation: itemOffset51 1s ease-in-out infinite reverse;
  animation-delay: 5.1s;
}
@keyframes itemOffset51 {
  50% {
    transform: rotateY(90deg) rotateX(306deg) translateZ(6em);
    background-color: #bf40b3;
  }
}
.item:nth-child(52) {
  transform: rotateY(90deg) rotateX(312deg) translateZ(1em);
  animation: itemOffset52 1s ease-in-out infinite reverse;
  animation-delay: 5.2s;
}
@keyframes itemOffset52 {
  50% {
    transform: rotateY(90deg) rotateX(312deg) translateZ(6em);
    background-color: #bf40a6;
  }
}
.item:nth-child(53) {
  transform: rotateY(90deg) rotateX(318deg) translateZ(1em);
  animation: itemOffset53 1s ease-in-out infinite reverse;
  animation-delay: 5.3s;
}
@keyframes itemOffset53 {
  50% {
    transform: rotateY(90deg) rotateX(318deg) translateZ(6em);
    background-color: #bf4099;
  }
}
.item:nth-child(54) {
  transform: rotateY(90deg) rotateX(324deg) translateZ(1em);
  animation: itemOffset54 1s ease-in-out infinite reverse;
  animation-delay: 5.4s;
}
@keyframes itemOffset54 {
  50% {
    transform: rotateY(90deg) rotateX(324deg) translateZ(6em);
    background-color: #bf408c;
  }
}
.item:nth-child(55) {
  transform: rotateY(90deg) rotateX(330deg) translateZ(1em);
  animation: itemOffset55 1s ease-in-out infinite reverse;
  animation-delay: 5.5s;
}
@keyframes itemOffset55 {
  50% {
    transform: rotateY(90deg) rotateX(330deg) translateZ(6em);
    background-color: #bf4080;
  }
}
.item:nth-child(56) {
  transform: rotateY(90deg) rotateX(336deg) translateZ(1em);
  animation: itemOffset56 1s ease-in-out infinite reverse;
  animation-delay: 5.6s;
}
@keyframes itemOffset56 {
  50% {
    transform: rotateY(90deg) rotateX(336deg) translateZ(6em);
    background-color: #bf4073;
  }
}
.item:nth-child(57) {
  transform: rotateY(90deg) rotateX(342deg) translateZ(1em);
  animation: itemOffset57 1s ease-in-out infinite reverse;
  animation-delay: 5.7s;
}
@keyframes itemOffset57 {
  50% {
    transform: rotateY(90deg) rotateX(342deg) translateZ(6em);
    background-color: #bf4066;
  }
}
.item:nth-child(58) {
  transform: rotateY(90deg) rotateX(348deg) translateZ(1em);
  animation: itemOffset58 1s ease-in-out infinite reverse;
  animation-delay: 5.8s;
}
@keyframes itemOffset58 {
  50% {
    transform: rotateY(90deg) rotateX(348deg) translateZ(6em);
    background-color: #bf4059;
  }
}
.item:nth-child(59) {
  transform: rotateY(90deg) rotateX(354deg) translateZ(1em);
  animation: itemOffset59 1s ease-in-out infinite reverse;
  animation-delay: 5.9s;
}
@keyframes itemOffset59 {
  50% {
    transform: rotateY(90deg) rotateX(354deg) translateZ(6em);
    background-color: #bf404d;
  }
}
.item:nth-child(60) {
  transform: rotateY(90deg) rotateX(360deg) translateZ(1em);
  animation: itemOffset60 1s ease-in-out infinite reverse;
  animation-delay: 6s;
}
@keyframes itemOffset60 {
  50% {
    transform: rotateY(90deg) rotateX(360deg) translateZ(6em);
    background-color: #bf4040;
  }
}
body {
  height: 100vh;
  background: #3e4777;
  background-image: radial-gradient(
    center,
    rgba(255, 255, 255, 0.1),
    transparent 75%
  );
}
body * {
  transform-style: preserve-3d;
}
